<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="dist/dataService.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="dist/dataService.js"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      node_env="production"
      nodeProcessCommandLine="node"
      interceptor="&quot;%programfiles(x86)%\iisnode\interceptor.js&quot;"
      enableXFF="true"
      promoteServerVars="LOGON_USER"
      devErrorsEnabled="false"
      debuggingEnabled="false"
      loggingEnabled="true"
      logDirectory="iisnode"
    />
    <defaultDocument>
      <files>
        <add value="dist/dataService.js" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>